@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');*
*{
	padding: 0;
	margin: 0;

}
:root 
{
	--lila: #2A114A;
	--celeste: #58FFFF;
}
body
{
	font-family: 'Urbanist', sans-serif;
}
.contenedor 
{
	width: 100%;
}
header
{
    background-position: center bottom;
    background-size: cover;
    background-image: url(../img/fondo2.png);
    display: flex;
    align-items: center;
    padding: 80px 0 0 0;
   

    
}
header .menu
{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
header .menu .logo
{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu .logo img
{
    width: 70%;
}

header .menu nav

{
	display: flex;
	justify-content: center;
	
}
header .menu nav ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: ;
}
header .menu nav ul li
{
    
    position: relative;
    float: left;
}
header .menu nav ul li a
{
    font-size: 1em;
    padding: 10px 20px ;
    color: #fff;
    display: block;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 25px;
    text-decoration: none;
    transition: 0.5s;
}
header .menu nav ul li a:hover
{
    color: var(--celeste);
    transform: scale(1.1);
}
#menu
{
    display: none;

}
.menu-icono
{
    width: 25px;

}

.menu label
{
    cursor: pointer;
    display: none;
}
.botones
{
	width: 30%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 12px;
	padding-right: 20px;
}
.boton 
{
	padding: 6px 12px ;
	border: 1px solid #fff;
	border-radius: 24px;
	color: #fff;
	text-decoration: none;
}
.boton:hover
{
	background:var(--celeste);
}

section 
{
    width: 100%;
}
section .portada
{
    width: 100%;
    height: 100vh;
    background-image: url(../img/fondo2.png);
   
    display: flex;
}

section .portada .info 
{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
section .portada  .info .txt
{
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
section .portada  .info .txt h1
{
     font-size: 3em;
     color: #fff;
     font-weight: 500;

}
section .portada  .info .info-b
{
    width: 30%;
    ;
    border-radius: 24px;
    border: 1px solid #fff;
    transition: 0.3s;
}
section .portada  .info .info-b a 
{
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 200;
}
section .portada  .info .info-b:hover
{
    background: var(--naranja);
}
section .portada .port-img 
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
section .portada .port-img:hover
{
    transform: scale(1.1);
}
section .portada .port-img img 
{
    width: 90%;
}
section .publico
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;

}
section .publico .tittle
{
    width: 80%;
}

section .publico .cont 
{
    display: flex;


}
section .publico .cont .cont-left
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; 
    gap: 20px; 
}
section .publico .cont .cont-left .rec
{
    width: 50%;
    height: 50px;
    background: #fff;
    border-radius: 36px;
    box-shadow: 4px 5px 6px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
section .publico .cont .cont-left .rec a 
{
    text-decoration: none;
    color: #000;
}
section .publico .cont .cont-left .rec2
{
    width: 50%;
    height: 50px;
    background: var(--celeste);
    border-radius: 36px;
    box-shadow: 4px 5px 6px 4px rgba(0, 0, 0, 0.3);;
}
section .publico .cont .cont-left .rec2 a 
{
    text-decoration: none;
    color: #000;
}
section .publico .cont .cont-der 
{
    display: flex;
    flex-direction: column;
    width: 50%;
}
section .publico .cont .cont-der .img-der
{
    width: 80%;

}
section .publico .cont .cont-der .img-der img 
{
    width: 100%;
    object-fit: cover;
}